<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="app">
    <modules>
<!--      <module type="shunfeng._ExtensionPoint.ShunFengModule, shunfeng"></module>-->
<!--      <module type="zhongtong._ExtensionPoint.ZhongTongModule, zhongtong"></module>-->
    </modules>
  </autofac>
</configuration>